.main-page
{
    display: flex;
    text-align: center;
    align-items: center;
}
.home-h1{
    padding-top: 30px;
    padding-bottom: 10px;
    text-align: center;
    font-weight: bolder;
    font-family: "Protest Riot", sans-serif;
    color: #000000a6;
}
.home-main
{
    background-color: #5454e8;
    border: 12px solid black;
}

.home
{
    display: grid;
    align-items: center;
    gap: 20px;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 26.5px;
    
}

.water-mark
{
    text-align: center;
    color: whitesmoke;
    font-family: "Protest Riot", sans-serif;
    font-weight: lighter;
    
}
.water-mark a{
    color: whitesmoke;
    font-family: "Petit Formal Script", cursive;
}
.home button
{
    height: 225px;
    font-size: 90px;
    border-radius: 40px;
    font-weight: bolder;
    cursor: pointer;
    transition: transform 0.2s;
    color:  #5454e8;
    background-color: #000000e7;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    font-family: "Protest Riot", sans-serif;
}
.home button:hover
{
    transform: scale(1.1);
    background-color: black;
    color: white;
}
.mode-btn {
    background-color: #5454e8;
    border: none;
    float: right;
    display: flex;
    cursor: pointer;
    padding-right: 10px;
    color: #000000; 
    transition: color 0.3s, background-color 0.3s;
}
/* .mode-btn:hover {
    background-color: rgba(255, 255, 255, 0.7);
}
body.dark-theme .mode-btn {
    color: #fff; /* Color for dark theme */
/* } */


.navbar {
    display: flex;
    justify-content: space-around;
    background-color: #5454e8;  
    align-items: center;
    height: 100px;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 10px 10px 10000px rgb(0, 0, 0);
}

.navbar h2
{
    font-size: 40px;
    font-weight: lighter;
    font-family: "Protest Riot", sans-serif;
}
.icon
{
    color: whitesmoke;
    transition: transform 0.2s;
}
.icon:hover
{
    color: rgba(0, 0, 0, 0.675);
    transform: scale(1.1) rotate(360deg);
}

.navbar-links
{
    display: flex;
    justify-content: space-around;
    width: 510px;
    gap: 8px;
    
}
.navbar-links li
{
    background-color: #5454e8;
    padding: 5px;
    list-style-type: none;
    transition: transform  0.1s ease-in-out;
    font-weight: lighter;
}

.navbar-links li:hover{
    transform: scale(1.2);
    border: 2px solid black;
    border-radius: 10px;
    background-color: #0000001c;
}
.navbar-links li a{
    
    color: whitesmoke;
    font-size: 20px;
    text-decoration: none;
}

.navbar-links li a.active {
    font-weight: bold;
    color: black;
    border-radius: 10px;
}
.movies-list
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 30px;
    gap: 10px;
    
}
.card
{
    border: 2px solid black;
    padding: 20px;
    border-radius: 20px;
    display: grid;
    align-items: center;
    text-align: center;
    background-color: gold;
}
.card img
{
    border-radius: 15px;
    height: 188px;
    width: 200px;
}
.card li{
    list-style-type: none;
}
.card h2{
    color: pink;
    display: grid;
}
.card section
{
    gap: 20px;
}
.vote{
    float: left;

}
.date{
    display: flex;
    float: right;
}
.heart{
    
}
.heart-active
{
    color: red;
    height: 20px;
    width: 20px;
}
.search-btn
{
    display: flex;
    padding: 10px;
    gap: 5px;
    justify-content: center;
    background-color: #5454e8;
    border: 2px solid black;
}

.search-btn input
{
    width: 250px;
    height: 25px;
    border: 2px solid rgb(0, 0, 0);
    font-size: 15px;
    border-radius: 15px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    color: rgb(255, 255, 255);
}
.search-btn button
{
    transition: transform ease-in-out 0.2s;
    background-color: #5454e8;
    cursor: pointer;
    border: 2px solid #5454e8;;
}
.search-btn button:hover
{
   cursor: pointer;
   transform: scale(1.4);
   
}
.movie-button-sorting-menu
{
    position: absolute;
    display: grid;
    flex-direction: column;
    float: left;
    padding-left: 25px;
    z-index: 1000;
    
    
}
.hamburger-menu
{
    font-size: 30px;
    padding-left: 20px;
    width: 30px;
   
    
}
.buttons
{
    margin-bottom: 14px;
    font-size: 20px;
    width: 165px;
    height: 65px;
    border-radius: 10px;
    cursor: pointer;    
    border: 1px solid  rgba(243, 241, 241, 0.675);
    background-color: rgba(243, 241, 241, 0.675);
    color: rgb(0, 0, 0);
    font-weight: bold;
    transition: all ease-in-out 0.1s;
}
.buttons:hover
{
    transform: scale(1.1);
    color:  #5454e8;
    border: 2px solid black;
    box-shadow:  0 0 5px rgba(0, 0, 0, 0.5);
}
.buttons1
{
    margin-bottom:  14px;
    font-size: 20px;
    width: 160px;
    height: 65px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    border: 1px solid  rgba(243, 241, 241, 0.675);
    background-color: rgba(243, 241, 241, 0.675);
    color: rgb(0, 0, 0);
    font-weight: bold;
    transition: all ease-in-out 0.1s;
}
.buttons1:hover
{
    transform: scale(1.1);
    color:  #5454e8;
    border: 2px solid black;
    box-shadow:  0 0 5px rgba(0, 0, 0, 0.5);
}

.not-found{
    display: flex;
    align-items: center;
    justify-content: center;
}

.movies-list-container
{

}

.page-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 30px;
}
.page-button button
{
    color: rgb(255, 255, 255);
    background-color:  #5454e8;
    width: 70px;
    height: 40px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    font-weight: lighter;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition: ease-in-out 0.2s;
      box-shadow:  0 0 30px rgba(0, 0, 0, 0.5);
}
.page-button button:hover
{
    transform: scale(1.2);
    background-color: rgba(243, 241, 241, 0.675);
    color:  #5454e8;
    border: 2px solid black;
    box-shadow:  0 0 5px rgba(0, 0, 0, 0.5);
}
.page-button button.active
{
    background-color: whitesmoke;
    color: #5454e8;
}

.links
{
    padding-left: 750px;
    
}