.main-page
{
    display: flex;
    text-align: center;
    align-items: center;
}
.home
{
    display: grid;
    grid-template-columns:  1fr 1fr; 
    align-items: center;
    gap: 100px;
    padding: 100px;
}
.home button
{
    height: 300px;
    font-size: 100px;
    border-radius: 40px;
    font-weight: bolder;
    cursor: pointer;
    
}
.navbar
{
    display: flex;
    justify-content: space-around;
    background-color: pink;
    align-items: center;
}
.navbar-links
{
    display: flex;
    justify-content: space-around;
    width: 480px;
}
.navbar-links li
{
    background-color: rgb(185, 185, 243);
    padding: 5px;
    border: black 2px solid;
    border-radius: 7px;
    list-style-type: none;
    transition: transform  0.1s ease-in-out;
}
.navbar-links li:hover{
    transform: scale(1.2);
}
.navbar-links li a{
    
    color: darkblue;
    font-size: 19px;
    text-decoration: none;
}
.movies-list
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 30px;
    gap: 10px;
    
}
.card
{
    border: 2px solid black;
    padding: 20px;
    border-radius: 20px;
    display: grid;
    align-items: center;
    text-align: center;
    background-color: gold;
}
.card img
{
    border-radius: 15px;
    height: 188px;
    width: 200px;
}
.card li{
    list-style-type: none;
}
.card h2{
    color: pink;
    display: grid;
}
.card section
{
    gap: 20px;
}
.vote{
    float: left;

}
.date{
    display: flex;
    float: right;
}
.heart{
    
}
.heart-active
{
    color: red;
    height: 20px;
    width: 20px;
}
.search-btn
{
    display: flex;
    padding: 10px;
    gap: 5px;
    justify-content: center;
    
}

.search-btn input
{
    width: 250px;
    height: 25px;
    border: 2px solid rgb(0, 0, 0);
    font-size: 15px;
    border-radius: 15px;
    text-align: center;
}
.search-btn button
{
    border: 1px solid white;
    background-color: white;
    transition: transform ease-in-out 0.2s;
}
.search-btn button:hover
{
   cursor: pointer;
   transform: scale(1.4);
   
}
.movie-button-sorting-menu
{
    position: absolute;
    display: grid;
    flex-direction: column;
    float: left;
    padding-left: 25px;
    z-index: 1000;
    
}
.hamburger-menu
{
    font-size: 30px;
    padding-left: 20px;
    width: 30px;
    
}
.buttons
{
    margin-bottom: 14px;
    font-size: 20px;
    width: 210px;
    height: 73px;
    border-radius: 20px;
}
.buttons1
{
    margin-top: 25px;
    margin-bottom:  14px;
    font-size: 20px;
    width: 210px;
    height: 73px;
    border-radius: 20px;
}

.not-found{
    display: flex;
    align-items: center;
    justify-content: center;
}